{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex justify-content-start align-items-center text-light">
                <img src="/images/logo-haltere.png" alt=""
                    class="border rounded rounded-5 border-2 border-dark border-opacity-25 rounded-circle p-1 haltere">
                <h1 class="ms-4">HappySport</h1>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/franchise">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-3">
    {{#if message}}
    <div class="alert alert-success mt-4" role="alert">
        <p class="text-center">{{message}}</p>
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger mt-4" role="alert">
        <p class="text-center">{{error}}</p>
    </div>
    {{/if}}
    <form method="post" action="/franchise/changePassword">
        <div class="mb-3">
            <label for="password1" class="form-label">Nouveau mot de passe</label>
            <input type="text" class="form-control" id="password1" aria-describedby="emailHelp" name="password1">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirmez le nouveau mot de passe</label>
            <input type="text" class="form-control" id="password2" aria-describedby="emailHelp" name="password2">
        </div>
        <button type="submit" class="btn btn-success">Valider</button>
    </form>
</div>