<div class="container h-100 d-flex flex-column justify-content-evenly align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <img src="images/logo-haltere.png" alt="" class="w-25 border rounded rounded-5 border-2 border-dark border-opacity-25 rounded-circle">
        <h1 class="ms-2">HappySport</h1>
    </div>
    <div class="border rounded rounded-5 border-2 border-dark border-opacity-25 p-5 bg-light">
        <form method="post" action="login">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Adresse Mail :</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark">Se connecter</button>
            </div>
            <div class="text-center mt-4">
                <a href="new-user" class="link-secondary">Première connexion ?</a>
            </div>
        </form>
    </div>
</div>