{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex justify-content-start align-items-center text-light">
                <img src="/images/logo-haltere.png" alt=""
                    class="border rounded rounded-5 border-2 border-dark border-opacity-25 rounded-circle p-1 haltere">
                <h1 class="ms-4">HappySport</h1>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/allHall">Liste des salles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Retour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<h2 class="text-center mt-4">Création d'une nouvelle salle</h2>
{{#if message}}
    <div class="alert alert-success mt-4" role="alert">
        <p class="text-center">{{message}}</p>
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger mt-4" role="alert">
        <p class="text-center">{{error}}</p>
    </div>
    {{/if}}
<div class="container mt-5">
    <form method="post" action="/admin/newHall">
        <select class="form-select mb-3" aria-label="Default select example" id="partner" name="partner">
            <option selected>Choisir un partenaire associé : </option>
            {{#partners}}
            <option value={{id}}>{{name}}</option>
            {{/partners}}
        </select>
        <div class="mb-3">
            <label for="name" class="form-label">Nom de la Salle</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Adresse Mail de contact</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" cols="15" rows="4" class="form-control"></textarea>
        </div>
        <fieldset>
            <legend>Adresse</legend>
            <div class="mb-3">
                <label for="street" class="form-label">N° et nom de rue : </label>
                <input type="text" class="form-control" id="street" aria-describedby="emailHelp" name="street" required>
            </div>
            <div class="mb-3">
                <label for="postalCode" class="form-label">Code postal :</label>
                <input type="text" class="form-control" id="postalCode" aria-describedby="emailHelp" name="postalCode" required>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Ville :</label>
                <input type="text" class="form-control" id="city" aria-describedby="emailHelp" name="city" required>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Valider</button>
    </form>
</div>